<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta charset="UTF-8"/>
<meta name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
<title>证书查询结果</title>
<link rel="stylesheet" th:href="@{/bootstrap-4.3.1/css/bootstrap.min.css}"/>
<script th:src="@{/jquery/jquery-3.4.1.min.js}"></script>
<script th:src="@{/bootstrap-4.3.1/js/bootstrap.min.js}"></script>
<style>
    .span_sanjiaor{
        text-align: right;
        display: inline-block;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent  #000;
    }

    .span_sanjiaod{
        text-align: right;
        display: inline-block;
        border-width: 5px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
    }
</style>
<body>
<div class="jumbotron text-center">
    <h3>证书查询结果</h3>
</div>
<div class="container">
    <!-- 证书详情页 -->
    <p class="accordion" id="accordion" th:if="${not #lists.isEmpty(certificateInfoList)}">
        <div class="card" th:each="certificateInfo : ${certificateInfoList}" style="border:none;padding-bottom: 5px">
            <a class="card-header list-group-item align-items-start list-group-item-c" style="border: none;padding: 2px 5px" th:id="'certificateHeader' + ${certificateInfoStat.index}">
                <div class="d-flex justify-content-between" data-toggle="collapse"
                     th:data-target="'#certificateData' + ${certificateInfoStat.index}"
                     aria-expanded="true" th:aria-controls="'certificateData' + ${certificateInfoStat.index}">
                    <div class="d-flex mb-1" style="color: #108EE9"
                         th:text="${certificateInfo.serialNum}+' - '+${certificateInfo.userName}">
                    </div>
                    <div class="fa fa-fw fa-chevron-right">
                    <i class="span_sanjiaor" style="height: 10px;"></i>
                    </div>
                </div>
            </a>
            <div class="collapse show" th:id="'certificateData' + ${certificateInfoStat.index}"
                 th:aria-labelledby="'certificateHeader' + ${certificateInfoStat.index}" data-parent="#accordion">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item  justify-content-between align-items-center">
                        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
                        <span th:text="${certificateInfo.userName}">姓名</span>
                    </li>
                    <li class="list-group-item  justify-content-between align-items-center">
                        证书编号：
                        <span th:text="${certificateInfo.serialNum}">证书编号</span>
                    </li>
                    <li class="list-group-item  justify-content-between align-items-center">
                        证书名称：
                        <span th:text="${certificateInfo.certificateName}">证书名称</span>
                    </li>
                    <li class="list-group-item  justify-content-between align-items-center">
                        发证时间：
                        <span th:text="${certificateInfo.issueTime}">发证时间</span>
                    </li>
                    <li class="list-group-item  justify-content-between align-items-center">
                        发证单位：
                        <span th:text="${certificateInfo.issuingUnit}">发证单位</span>
                    </li>
                    <li class="list-group-item  justify-content-between align-items-center" style="padding: 50px 5px">
                        <img th:src="@{'/'+${certificateInfo.fileName}+'.jpg'}" width="100%" style="padding-bottom:10px">
                        <b style="color: red">*</b> 请长按图片保存您的证书。
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div th:if="${#lists.isEmpty(certificateInfoList)}" class="justify-content-between align-items-center">
        没有相关信息！
    </div>
    <script th:inline="javascript">
        $(function ($) {
            $('.collapse').collapse();

            $('.card').on('hide.bs.collapse show.bs.collapse', function (e) {
                var $this = $(this)
                $this.find("i").toggleClass("span_sanjiaod");
                $this.find("i").toggleClass("span_sanjiaor");
            });
        });
    </script>
</div>
</body>
</html>